/* Farben in CSS als Variablen anlegen */
:root {
  --color-white: #fcfcfc;
  --color-black: #333333;
}
/* so wird es dann angewendet */
.test {
  color: var(--color-white);
}
/* Alternatives Beispiel für die Benennung: primary, secondary, highlight */
/* PROFI-TIPP END --------------------------------- */

* {
  box-sizing: border-box;
}

body {
  padding: 3%;
  margin: auto auto 0 auto;
  font-family: 'Overpass', sans-serif;
  letter-spacing: 0.1px;
  font-size: 112, 5%; /* bei Voreinstellung des Browsers von 16px würden sich hier 18px ergeben */
  line-height: 1.6; /* wird ohne Einheit gesetzt; 1,5 ist etwas größer als offiziell, von Jerry empfohlen */
  background-color: #fcfcfc;
  color: #333;
}

/* --- HEADLINES --- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  font-family: 'Overpass Mono', monospace;
  text-transform: lowercase;
}

/* h2 im Hauptteil der Site (Section-Überschriften) */
main h2 {
  margin-top: 2em;
}

/* roter Hashtag vor den h2 Section-Überschriften */
main h2::before {
  content: '#';
  color: tomato;
  margin-right: 5px;
}
/* --- /HEADLINES --- */

/* TIPP: weil Linien unter den Links idR nicht ganz durchgezogen werden besonders Typographen und Designer finden das wichtig */
a {
  text-decoration: none;
  border-bottom: 2px solid;
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-size: 1em; /* em bezieht sich immer auf die aktuell vorherrschende Schriftgröße */
}

/* --- HEADER --- */

.header-pages {
  margin-bottom: 19px;
}
.title h1 {
  margin: 0 0 20px 0;
  font-size: 25px;
}
.header-subtitle {
  display: block;
  font-size: 0.5em;
  line-height: 0.5em;
}

.main-navigation {
  display: flex;
}

.main-navigation a {
  margin: 0 10px 10px 0;
  border: 2px solid #555;
  padding: 5px 7px;
  color: #333;
  font-family: 'Overpass Mono', monospace;
  font-weight: 400;
}

/* --- /HEADER --- */

/* --- MAIN --- */

.section-about ul {
  padding-left: 0;
}

.section-about li {
  display: inline-block;
  background-color: grey;
  color: #fcfcfc;
  padding: 5px 10px;
  margin: 0 10px 10px 0;
  list-style: none;
}

.contact ul {
  padding-left: 0;
  list-style: none;
  margin-bottom: 20px;
}

.contact li {
  display: inline-block;
  margin: 0 10px 10px 0;
  border: 2px solid #555;
  padding: 5px 10px;
  color: #333;
  font-family: 'Overpass Mono', monospace;
  font-weight: 400;
  text-transform: lowercase;
}

.contact li a {
  color: #333;
  border-bottom: none;
}

.social li {
  display: inline-block;
  text-decoration: none;
  list-style: none;
}

.social img {
  padding: 15px;
  vertical-align: middle;
}

.hashtag {
  color: tomato;
  margin-right: 7px;
}

.bio h4 {
  margin-bottom: 0;
}
/* --- /MAIN --- */

/* --- FOOTER --- */
.footer-pages {
  margin-top: 40px;
  margin-bottom: 0;
}
.copyright {
  background-color: var(--color-black);
  color: var(--color-white);
  padding: 15px;
}

/* --- /FOOTER --- */

/* ======================= */
/* --- MEDIA QUERIES ---- */

/* ===== 700px ===== */
@media screen and (min-width: 600px) {
  body {
    max-width: 700px;
  }

  /* Titel + Navigation */
  .header-pages {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  /* Profilbild + Skills & Interests */
  .section-about {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }

  /* Kontaktdetails + Social */

  .social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: stretch;
  }

  /* Biography + CV */
  .bio {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
